# OpenStack clouds.yaml example
# Place this file at ~/.config/openstack/clouds.yaml or set CLOUDS_YAML_PATH

clouds:
  topology:
    auth:
      auth_url: https://keystone.example.com/v3
      username: topology-reader
      password: CHANGE_ME
      user_domain_name: Default
    region_name: RegionOne
    interface: internal
    identity_api_version: 3
